@import './icons.css';
.iconset {
    font-family: ms-icons !important;
    src: url('icomoon.woff');
}


.front-crousel {

}

.slider-container {
    /* height: 75vh; */
    background-color: rgba(0, 0, 0, 0.75);
}

.slider-pc-view {
    margin-left: auto;
    margin-right: auto;
    /* width: 50vw; */
}

.bg-black {
    background-color: black;
}

.category {
    /* width: 10rem; */
    /* border: solid 1px purple; */
}

.text-theme {
    color: purple !important;
}

.bg-theme {
    background-color: purple !important;
}

.border-theme {
    border: solid 1px purple;
}

.text-theme2 {
    color: orangered !important;
}

.bg-theme2 {
    background-color: orangered !important;
}

.border-theme2 {
    border: solid 1px orangered;
}

.hover-bg:hover {
    background-color: #CCC;
}

.carousel-item > img {
    filter: blur(5px);
}

.mlr-auto {
    margin-left: auto;
    margin-right: auto;
}
