@import './icons.css';
.iconset {
    font-family: ms-icons !important;
    src: url('icomoon.woff');
}


.front-crousel {

}

.slider-container {
    /* height: 75vh; */
    background-color: rgba(0, 0, 0, 0.75);
}

.slider-pc-view {
    margin-left: auto;
    margin-right: auto;
    /* width: 50vw; */
}

.bg-black {
    background-color: black;
}

.text-theme {
    color: purple !important;
}

.bg-theme {
    background-color: purple !important;
}

.border-theme {
    border: solid 1px purple;
}

.text-theme2 {
    color: orangered !important;
}

.bg-theme2 {
    background-color: orangered !important;
}

.border-theme2 {
    border: solid 1px orangered;
}

.hover-bg:hover {
    background-color: #CCC;
}

.carousel-item > img {
    filter: blur(5px);
}

.mlr-auto {
    margin-left: auto;
    margin-right: auto;
}

.brand {
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    padding: 1rem;
    overflow: hidden;
}

.circle {
    border-radius: 50%;
}

.border-grey {
    /* border: solid 1px grey; */
}

.display-7 {
    font-size: calc(1rem + 1.5vw);
    font-weight: 300;
    line-height: 1.2;
}

.display-8 {
    font-size: calc(0.5rem + 1.5vw);
    font-weight: 300;
    line-height: 1.2;
}